services:
  web:
    depends_on:
      - api
    build: ./frontend
    ports:
      - 5173:5173
    env_file:
      - .env

  api:
    depends_on:
      - db
    build: ./backend
    ports:
      - 8000:8000
    env_file:
      - .env

  db:
    image: mysql:8.0
    ports: 
      - 3306:3306
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
      - ./backend/internal/database/migration/:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
